<% content_for :title do %>
  <title>Gestão de Alugeis - Entrar</title>
<% end %>
<% content_for :styles do %>
<style>
    body {
        background-color: #474D52 !important;
        background-image: url('<%= image_url 'login/heroOpac.png' %>');
        position: relative;
    }
    body::after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
    }
</style>
<% end %>

<!-- /.login-logo -->
<div class="card card-outline card-warning">
  <div class="card-header text-center">
    <%= link_to root_path, class: "h1", 'data-bs-toggle': "tooltip", title: "Voltar para o início" do %>
      <b>Recibos</b>NS
    <% end %>
  </div>
  <div class="card-body">
    <p class="login-box-msg">Entre para iniciar sua sessão</p>

    <%= form_tag admin_authenticate_path, class: "needs-validation", novalidate: true do %>
      <% if !flash[:error].blank? %>
        <div class="text-center mb-2">
          <span class="text-danger"><%= flash[:error] %></span>
        </div>
      <% end %>

      <div class="form-group input-group mb-3">
        <%= email_field_tag :email, nil, class: "form-control", placeholder: "E-mail", required: true %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
        <div class="valid-tooltip">
          Parece tudo certo!
        </div>
        <div class="invalid-tooltip">
          Preencha o campo com um E-mail válido.
        </div>
      </div>
      <div class="form-group input-group mb-3">
        <%= password_field_tag :password, nil, class: "form-control", placeholder: "Senha", required: true %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
        <div class="valid-tooltip">
          Parece tudo certo!
        </div>
        <div class="invalid-tooltip">
          Preencha o campo Senha.
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="icheck-primary">
            <input type="checkbox" id="remember">
            <label for="remember">
              Lembre-me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <%= submit_tag "Entrar", :class => "btn btn-primary btn-block" %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>

    <div class="social-auth-links text-center mt-2 mb-3">
      <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i> Entrar usando o Facebook
      </a>
      <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i> Entrar usando o Google+
      </a>
    </div>
    <!-- /.social-auth-links -->

    <p class="mb-1">
      <a href="#">Esqueci minha senha</a>
    </p>
    <p class="mb-0">
      <a href="#" class="text-center">Cadastrar novo usuário</a>
    </p>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<button type="button" id="loginError" hidden></button>
<% content_for :scripts do %>
  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
          'use strict';
          window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                  }, false);
              });
          }, false);
      })();

      $(function () {
          $('[data-bs-toggle="tooltip"]').tooltip()
      })

      <% if !flash[:error].blank? %>
        toastr.error('Acesso negado.<br> <%= flash[:error] %>')
      <% end %>
  </script>
<% end %>