<%= form_with(model: @user, local: true, data: { remote: true }) do |form| %>
  <div class="modal-header">
    <h4 class="modal-title"><%= @user.new_record? ? "Adicionar" : "Editar" %> Foto</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= error_message_for @user %>

    <div class="align-items-center">
      <div class="text-center m-4">
        <%= image_tag @user.photo, width: "120", height: "120", class: "rounded-circle" %>
        <h4 class="display-5">
          <%= @user.name %>
        </h4>
      </div>
      <%= form.hidden_field :name %>
      <div class="form-group">
        <dov class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <p class="text-center mb-1">
              <b>Mudar Foto:</b>
            </p>
            <div class="input-group">
              <div class="custom-file">
                <%= form.file_field :photo, class: "custom-file-input", aria_labelledby: "Buscar", required: true %>
                <%= form.label :photo, "Selecione a foto", class: 'custom-file-label' %>
              </div>
            </div>
          </div>
        </dov>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    <%= form.button data: {disable_with: "Aguarde...."}, class: "btn btn-success" do %>
      Salvar
      <i class="fas fa-save"></i>
    <% end %>
  </div>
<% end %>
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>