<% content_for :title do %>
  <title>NishAlugeis - Usuários</title>
<% end %>
<% content_for :plugins_styles do %>
  <%= render "layouts/partials/table_styles_plugins" %>
<% end %>
<% content_for :styles do %>
  <style>

  </style>
<% end %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><i class="fas fa-users"></i> Usuários</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= admin_dashboard_path %>>">Início</a></li>
          <li class="breadcrumb-item active">Usuários</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header clearfix">
            <h3 class="card-title float-left">Usuários Registrados</h3>
            <%= link_to new_admin_user_path, class: "btn btn-sm bg-gradient-success float-right" do %>
              <i class="fas fa-user-plus"></i>
              Adicionar Usuário
            <% end %>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="users" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ativo</th>
                <th>Admin</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              <% @admin_users.each do |admin_user| %>
                <tr>
                  <td><%= image_tag admin_user.photo, width: "40", height: "40" %></td>
                  <td><%= admin_user.name %></td>
                  <td><%= admin_user.email %></td>
                  <td><%= admin_user.active ? "Sim" : "Não" %></td>
                  <td><%= admin_user.admin ? "Sim" : "Não" %></td>
                  <td>
                    <div class="btn-group btn-group-sm">
                      <%= link_to edit_admin_user_path(admin_user), class: "btn btn-sm btn-dark", 'data-toggle':"tooltip", title: "Editar" do %>
                        <i class="fas fa-user-edit"></i>
                      <% end %>
                      <%= link_to edit_admin_user_path(admin_user), class: "btn btn-sm btn-dark", 'data-toggle':"tooltip", title: "Visualizar" do %>
                        <i class="fas fa-id-card"></i>
                      <% end %>
                      <%= link_to admin_user, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-dark", 'data-toggle':"tooltip", title: "Excluir" do %>
                        <i class="fas fa-user-minus"></i>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<% content_for :plugins_scripts do %>
  <%= render "layouts/partials/table_script_plugins" %>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(function () {
        $("#users").DataTable({
            "language": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                },
                "select": {
                    "rows": {
                        "_": "Selecionado %d linhas",
                        "0": "Nenhuma linha selecionada",
                        "1": "Selecionado 1 linha"
                    }
                },
                "buttons": {
                    "copy": "Copiar",
                    "copyTitle": "Copiado",
                    "copySuccess": {
                        "1": "linha copiada",
                        "_": "%d linhas copiadas"
                    },
                    "colvis": "Exibir coluna",
                    "print": "Imprimir"

                }
            },
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#users_wrapper .col-md-6:eq(0)');
    });
    <% unless flash[:create].blank? %>
    toastr.success('Cadastro bem sucedido.<br> <%= flash[:create] %>')
    <% end %>
  </script>
<% end %>