<!-- Main Sidebar Container -->
<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="<%= admin_dashboard_path %>" class="brand-link">
    <%= image_tag "admin/NALogo.png", class: "brand-image img-circle elevation-3", alt: "Recibos de Aluguel - Nishlem", style: "opacity: .8" %>
    <span class="brand-text font-weight-light">NishAlugueis</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= link_to "/admin/users/#{@user_logged.id}/edit_photo" do %>
          <%# image_tag @user_logged.photo, class: "img-circle elevation-2", alt: "Perfil" %>
      <% end %>
      </div>
      <div class="info">
        <a href="#perfil" class="d-block"><%= @user_logged.name %></a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="<%= admin_dashboard_path %>" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Início
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-plus-square"></i>
            <p>
              Cadastros
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= admin_users_path %>" class="nav-link">
                <i class="fas fa-users nav-icon"></i>
                <p>Usuários</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>

  <div class="sidebar-custom">
    <!-- Default dropup button -->
    <div class="btn-group dropright" data-toggle="tooltip" title="Perfil">
      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cogs"></i>
      </button>
      <div class="dropdown-menu bg-dark text-secondary">
        <!-- Dropdown menu links -->
        <a class="dropdown-item bg-dark" href="#">Gerenciar Perfil</a>
        <a class="dropdown-item bg-dark" href="#">Another action</a>
        <a class="dropdown-item bg-dark" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <%= link_to "Sair", admin_logout_path(username: @user_logged.name), method: :delete, class: "dropdown-item bg-dark" %>
      </div>
    </div>

    <a href="#" class="btn btn-secondary hide-on-collapse pos-right">Ajuda</a>
  </div>
  <!-- /.sidebar-custom -->
  <!-- /.sidebar -->
</aside>