<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield :title %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <%= stylesheet_link_tag 'dashboard/plugins/fontawesome-free/css/all.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/css/adminlte.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/css/pagination.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/toastr/toastr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/bootstrap-slider/css/bootstrap-slider.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/bs-stepper/css/bs-stepper.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/daterangepicker/daterangepicker.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/dropzone/dropzone.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/select2/css/select2.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :styles %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <%= image_tag "admin/NALogo.png", class: "animation__shake", alt: "Gestão de Alugueis - RecibosNS", height: "60", width: "60" %>
      </div>

      <%= render 'layouts/partials/admin_navbar' %>
      <%= render 'layouts/partials/admin_sidebar' %>

      <main class="content-wrapper">
        <%= yield %>
      </main>

      <div class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <%= render 'layouts/partials/admin_footer' %>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/jquery/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/js/adminlte.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/toastr/toastr.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/bs-custom-file-input/bs-custom-file-input.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/bootstrap-slider/bootstrap-slider.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/bootstrap-switch/js/bootstrap-switch.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/bs-stepper/js/bs-stepper.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/daterangepicker/daterangepicker.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/dropzone/dropzone.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/select2/js/select2.full.min.js', 'data-turbolinks-track': 'reload' %>
    <%= yield :scripts %>
    <script type="text/javascript" charset="utf-8">
      $('.tip').tooltip();
    </script>
  </body>
</html>
