<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield :title %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <%= stylesheet_link_tag 'dashboard/plugins/fontawesome-free/css/all.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/css/adminlte.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'dashboard/plugins/toastr/toastr.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :styles %>
  </head>

  <body class="hold-transition login-page">
    <main class="login-box">
      <%= yield %>
    </main>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/jquery/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/js/adminlte.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/plugins/toastr/toastr.min.js', 'data-turbolinks-track': 'reload' %>
    <%= yield :scripts %>

  </body>
</html>
